/**
 * Universal reset
 * ---------------
 */

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

/** Main layout container */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/**
 * Calculator body container
 * -------------------------
 */

.calculator-container {
    width: 500px;
}

.calculator-display-container > output {
    display: block;
}

.calculator-keypad-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.calculator-keypad-btn {
    width: 125px;
    height: 125px;
    cursor: pointer;
}