/**
 * Universal reset
 * ---------------
 */

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

/**
 * Calculator body container
 * -------------------------
 */

main.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 600px;
    min-height: 100vh;
}